# Prerequisites
*.d
*.vs

# Compiled Object files
*.slo
*.lo
*.o

# Ignore all .synctex files
**/*.synctex.gz

# Ignore all .aux files
**/*.aux


# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/simple_raytracer/x64/Debug
/x64/Debug
